
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal - Applicant</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <!-- Styles -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../styles.css" rel="stylesheet">
</head>

<body>

<header class="fixed w-full shadow backdrop-blur-lg z-20 top-[0]">
    <nav class="border-gray-200 py-2.5">
        <div class="flex flex-wrap items-center justify-between lg:px-10 px-2 mx-auto">
            <!-- drawer init and show -->
            <div class="flex">
                <button class="lg:hidden md:block" type="button" data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar">
                    <span class="block m-1 h-[2px] w-[15px] bg-[#000]"></span>
                    <span class="block m-1 h-[2px] w-[35px] bg-[#000]"></span>
                    <span class="block m-1 h-[2px] w-[25px] bg-[#000]"></span>
                    <span class="block m-1 h-[2px] w-[30px] bg-[#000]"></span>
                </button>
                <a href="dashboard.html" class="flex items-center">
                    <img src="../images/logo.png" class="lg:h-10 h-7 me-3 lg:ms-0 ms-2" alt="nextitlogo"/>
                </a>
            </div> 
            <div class="flex items-center lg:order-2 lg:space-x-7 space-x-2">
                <div class="items-center justify-between w-full lg:flex lg:w-auto lg:block hidden">
                    <ul class="flex font-medium lg:flex-row lg:space-x-8 lg:space-y-0 lg:my-0 space-y-6 my-8 me-10">
                        <li>
                            <a href="../jobs.html" class="flex px-2 block text-[#000] font-semibold hover:text-[#39B54A]">
                                <img class="me-3" src="../images/icons/job.svg" alt="icon"> View Jobs
                            </a>
                        </li>
                        <li>
                            <a href="../index.html" class="flex px-2 block text-[#000] font-semibold hover:text-[#39B54A]">
                                <img class="me-3" src="../images/icons/career.svg" alt="icon"> Career page
                            </a>
                        </li>
                        <li>
                            <a href="../faq.html" class="flex px-2 block text-[#000] font-semibold hover:text-[#39B54A]">
                                <img class="me-3" src="../images/icons/faq.svg" alt="icon"> FAQ
                            </a>
                        </li>
                    </ul>
                </div>
                <span>
                    <a href="dashboard.html" class="flex items-center text-center h-[36px] w-[36px] rounded-full bg-[#CCDEF0] hover:bg-[#9bc8ff] ease-in-out duration-300">
                        <img class="mx-auto" src="../images/icons/home.svg" alt="icon">                        
                    </a>
                </span>
                <span>
                    <!-- Notification menu -->
                    <a href="#" id="dropdownNotificationButton" data-dropdown-toggle="dropdownNotification" data-dropdown-offset-distance="17" data-dropdown-offset-skidding="-150" data-dropdown-placement="bottom" class="flex relative items-center text-center h-[36px] w-[36px] rounded-full bg-[#CCDEF0] hover:bg-[#9bc8ff] ease-in-out duration-300">
                        <img class="mx-auto" src="../images/icons/notification.svg" alt="icon">
                        <span class="absolute right-[-2px] top-[0] w-[12px] h-[12px] bg-[#ff0000] rounded-full border-white border-2"></span>
                    </a>
                    <div id="dropdownNotification" class="z-20 hidden w-full max-w-sm bg-white shadow-lg shadow-[rgba(30,90,148,0.25)]" aria-labelledby="dropdownNotificationButton">
                        <div class="block h-[40px] px-4 py-2 text-[16px] font-semibold text-center text-gray-700 bg-[#CCDEF0]">
                            Notifications
                        </div>
                        <div class="divide-y divide-[#CCDEF0]">
                            <a href="#" class="flex items-center px-4 py-3 hover:bg-[rgba(34,168,1,0.11)] ease-in-out transition">
                                <div class="flex-shrink-0">
                                    <img class="rounded-full w-14 h-14" src="../images/avatar.svg" alt="Jese image">
                                </div>
                                <div class="w-full pl-3">
                                    <span class="text-md font-semibold text-[#22A801]">Job Confirmation</span>
                                    <div class="text-gray-500 text-sm mb-1.5">Congrats! You have a job confirmation mail</div>
                                    <div class="text-xs text-blue-600">a few moments ago</div>
                                </div>
                            </a>
                            <a href="#" class="flex items-center px-4 py-3 hover:bg-[rgba(34,168,1,0.11)] opacity-70 hover:opacity-100 ease-in-out transition">
                                <div class="flex-shrink-0">
                                    <img class="rounded-full w-14 h-14" src="../images/avatar.svg" alt="Jese image">
                                </div>
                                <div class="w-full pl-3">
                                    <span class="text-md font-semibold text-[#01468B]">Interview Invitation</span>
                                    <div class="text-gray-500 text-sm mb-1.5">Congrats! You have a job confirmation mail</div>
                                    <div class="text-xs text-blue-600">a few moments ago</div>
                                </div>
                            </a>
                            <a href="#" class="flex items-center px-4 py-3 hover:bg-[rgba(34,168,1,0.11)] opacity-70 hover:opacity-100 ease-in-out transition">
                                <div class="flex-shrink-0">
                                    <img class="rounded-full w-14 h-14" src="../images/avatar.svg" alt="Jese image">
                                </div>
                                <div class="w-full pl-3">
                                    <span class="text-md font-semibold text-[#01468B]">Interview Invitation</span>
                                    <div class="text-gray-500 text-sm mb-1.5">Congrats! You have a job confirmation mail</div>
                                    <div class="text-xs text-blue-600">a few moments ago</div>
                                </div>
                            </a>
                            <a href="#" class="flex items-center px-4 py-3 hover:bg-[rgba(34,168,1,0.11)] opacity-70 hover:opacity-100 ease-in-out transition">
                                <div class="flex-shrink-0">
                                    <img class="rounded-full w-14 h-14" src="../images/avatar.svg" alt="Jese image">
                                </div>
                                <div class="w-full pl-3">
                                    <span class="text-md font-semibold text-[#01468B]">Reviewed Resume</span>
                                    <div class="text-gray-500 text-sm mb-1.5">Congrats! You have a job confirmation mail</div>
                                    <div class="text-xs text-blue-600">a few moments ago</div>
                                </div>
                            </a>
                        </div>
                        <a href="notification.html" class="block py-2 text-sm font-medium text-center text-gray-900 bg-[#CCDEF0] hover:bg-[#bfdfff]">
                            <div class="inline-flex items-center">
                                <svg class="w-4 h-4 mr-2 text-[#01468B]" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg>
                                View all
                            </div>
                        </a>
                    </div>
                </span>
                <span class="block h-[18px] w-[2px] bg-[#CCDEF0]"></span>

                <!-- Profile menu -->
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button" class="items-center space-x-2 text-[#000] hover:text-[#39B54A]">
                    <div class="shrink-0">
                        <img class="h-[50px] w-[50px] object-cover rounded-full" src="../images/avatar.svg" alt="profile">
                    </div>
                </button>
                <div id="dropdown" class="z-10 hidden bg-white rounded-lg shadow-lg shadow-[rgba(30,90,148,0.25)] w-[310px]">
                    <ul class="py-3 px-3 text-sm text-gray-700 text-center font-semibold bg-[#CCDEF0]" aria-labelledby="dropdownDividerButton">
                        <div class="shrink-0 text-center mb-2">
                            <img class="h-[80px] w-[80px] object-cover rounded-full mx-auto" src="../images/avatar.svg" alt="Current profile photo">
                        </div>
                        <p class="text-lg text-gray-900" role="none">
                            Neil Sims
                        </p>
                        <p class="text-sm text-gray-600" role="none">
                            neil.sims@flowbite.com
                        </p>
                    </ul>
                    <ul class="text-gray-700 font-semibold" aria-labelledby="dropdownDividerButton">
                        <li>
                            <a href="#" data-modal-target="changepassModal" data-modal-toggle="changepassModal" class="block px-4 py-4 text-sm text-gray-700 hover:bg-gray-100 hover:text-[#39B54A]">
                                <i class="fa fa-light fa-key w-4 text-center"></i> Change Password
                            </a>
                        </li>
                    </ul>
                    <ul class="p-3 text-gray-700 font-semibold border-t" aria-labelledby="dropdownDividerButton">
                        <li>
                            <a href="../index.html" class="block px-4 py-4 rounded-lg text-center text-gray-700 bg-gray-100 hover:bg-gray-200 hover:text-[#FE0101] ease-in-out transition"><i class="fa fa-light fa-arrow-right-from-bracket w-4 text-center"></i> Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="items-center justify-between w-full lg:flex lg:w-auto lg:hidden block fixed bottom-0 left-0 top-auto w-full bg-gray-100 z-50 drop-shadow-[0px_3px_15px_rgba(0,0,0,0.15)]">
    <ul class="grid grid-cols-3 gap-3 py-3">
        <li>
            <a href="../jobs.html" class="flex px-2 block text-[#000] font-semibold hover:text-[#39B54A] text-center">
                <img class="mx-auto" src="../images/icons/jobs.svg" alt="icon">
            </a>
        </li>
        <li>
            <a href="../index.html" class="flex px-2 block text-[#000] font-semibold hover:text-[#39B54A] text-center">
                <img class="mx-auto" src="../images/icons/careers.svg" alt="icon">
            </a>
        </li>
        <li>
            <a href="../faq.html" class="flex px-2 block text-[#000] font-semibold hover:text-[#39B54A] text-center">
                <img class="mx-auto" src="../images/icons/faqs.svg" alt="icon">
            </a>
        </li>
    </ul>
</div>


<!------Side-Menu------->
<aside id="sidebar-multi-level-sidebar" class="fixed lg:top-[71px] top-[0] left-0 z-40 w-64 h-screen shadow transition-transform lg:translate-x-0 -translate-x-full border-r" aria-label="Sidebar">
    <button type="button" data-drawer-hide="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" class="lg:hidden block text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close menu</span>
    </button>
    <div class="h-full px-3 py-4 overflow-y-auto bg-white">
        <a href="dashboard.html" class="lg:hidden block mb-4">
            <img src="../images/logo.png" class="h-15 mr-3 h-10" alt="nextitlogo"/>
        </a>
        <ul class="space-y-2 font-medium">
            <li>
                <a href="dashboard.html" class="flex items-center p-2 font-semibold text-[16px] text-[#01468B] rounded-md hover:bg-gray-100 grayscale-0 hover:grayscale-0">
                    <span class="w-[26px]">
                        <img class="mx-auto" src="../images/icons/dashboard.svg" alt="icon">
                    </span>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="view-resume.html" class="flex items-center p-2 font-semibold text-[16px] text-[#01468B] rounded-md hover:bg-gray-100 grayscale hover:grayscale-0">
                    <span class="w-[26px]">
                        <img class="mx-auto" src="../images/icons/view.svg" alt="icon">
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">View Resume</span>
                </a>
            </li>
            <li>
                <button type="button" class="flex items-center w-full p-2 font-semibold text-[16px] text-[#01468B] transition duration-75 group rounded-md hover:bg-gray-100 grayscale hover:grayscale-0" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                    <span class="w-[26px]">
                        <img class="mx-auto" src="../images/icons/edit-resume.svg" alt="icon">
                    </span>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>Edit Resume</span>
                    <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-example" class="hidden py-2 space-y-2 border-y">
                    <li>
                        <a href="personal-info.html" class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 font-semibold text-gray-600 hover:text-[#01468B]">Personal Information</a>
                    </li>
                    <li>
                        <a href="education.html" class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 font-semibold text-gray-600 hover:text-[#01468B]">Education & Training</a>
                    </li>
                    <li>
                        <a href="employment.html" class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 font-semibold text-gray-600 hover:text-[#01468B]">Employment</a>
                    </li>
                    <li>
                        <a href="other-info.html" class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 font-semibold text-gray-600 hover:text-[#01468B]">Other Information</a>
                    </li>
                    <li>
                        <a href="photograph.html" class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 font-semibold text-gray-600 hover:text-[#01468B]">Photograph</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="flex items-center p-2 font-semibold text-[16px] text-[#01468B] rounded-md hover:bg-gray-100 grayscale hover:grayscale-0">
                    <span class="w-[26px]">
                        <img class="mx-auto" src="../images/icons/upload-resume.svg" alt="icon">
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Upload Resume</span>
                </a>
            </li>
            <li>
                <a href="notification.html" class="flex items-center p-2 font-semibold text-[16px] text-[#01468B] rounded-md hover:bg-gray-100 grayscale hover:grayscale-0">
                    <span class="w-[26px]">
                        <img class="mx-auto" src="../images/icons/notification.svg" alt="icon">
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Notification</span>
                    <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full">3</span>
                </a>
            </li>
            <li>
                <a href="help.html" class="flex items-center p-2 font-semibold text-[16px] text-[#01468B] rounded-md hover:bg-gray-100 grayscale hover:grayscale-0">
                    <span class="w-[26px]">
                        <img class="mx-auto" src="../images/icons/help.svg" alt="icon">
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Help</span>
                </a>
            </li>
        </ul>
    </div>
</aside>


<div class="lg:ml-64 ml-0 mt-[70px]">
    <div class="w-full bg-gradient-to-b from-[#003D7A] to-[#0060C0]">
        <ul class="py-3 2xl:px-16 md:px-8 px-0 grid grid-cols-5 gap-3">
            <li class="2xl:pe-5 pe-0">
                <a href="personal-info.html" class="flex flex-col items-center w-full lg:pe-5 pe-0 opacity-70 hover:opacity-100">
                    <i class="fa fa-user text-white text-[30px] w-full xl:text-start text-center"></i>
                    <h3 class="w-full 2xl:text-[18px] text-[16px] text-white font-semibold text-start xl:block hidden">Personal Information</h3>
                </a>
            </li>
            <li class="2xl:pe-5 pe-0">
                <a href="education.html" class="flex flex-col items-center w-full lg:pe-5 pe-0 opacity-100 hover:opacity-100 xl:pb-1 pb-0 xl:border-b-2 border-0 border-white">
                    <i class="fa fa-graduation-cap text-white text-[30px] w-full xl:text-start text-center"></i>
                    <h3 class="w-full 2xl:text-[18px] text-[16px] text-white font-semibold text-start xl:block hidden">Education & Training</h3>
                </a>
            </li>
            <li class="2xl:pe-5 pe-0">
                <a href="employment.html" class="flex flex-col items-center w-full lg:pe-5 pe-0 opacity-70 hover:opacity-100">
                    <i class="fa fa-briefcase text-white text-[30px] w-full xl:text-start text-center"></i>
                    <h3 class="w-full 2xl:text-[18px] text-[16px] text-white font-semibold text-start xl:block hidden">Employment</h3>
                </a>
            </li>
            <li class="2xl:pe-5 pe-0">
                <a href="other-info.html" class="flex flex-col items-center w-full lg:pe-5 pe-0 opacity-70 hover:opacity-100">
                    <i class="fa fa-file-lines text-white text-[30px] w-full xl:text-start text-center"></i>
                    <h3 class="w-full 2xl:text-[18px] text-[16px] text-white font-semibold text-start xl:block hidden">Other Information</h3>
                </a>
            </li>
            <li class="2xl:pe-5 pe-0">
                <a href="photograph.html" class="flex flex-col items-center w-full lg:pe-5 pe-0 opacity-70 hover:opacity-100">
                    <i class="fa fa-camera text-white text-[30px] w-full xl:text-start text-center"></i>
                    <h3 class="w-full 2xl:text-[18px] text-[16px] text-white font-semibold text-start xl:block hidden">Photo</h3>
                </a>
            </li>
        </ul>
    </div>
    <div class="sm:p-8 p-4">
        <div class="w-full bg-[#d9d9d9] mb-[20px]">
            <div class="h-[40px] bg-[#004992] text-[20px] font-medium text-blue-100 text-center leading-[38px]" style="width: 20%"> 20%</div>
        </div>
        <div class="mb-4">
            <div class="my-3">
                <div class="relative flex items-center">
                    <h3 class="w-full py-1 mb-3 text-[23px] font-bold text-[#111928] border-b-2 border-[#d9d9d9]">Academic Summary</h3>
                </div>
                <div class="mb-4 pb-2 border-b">
                    <div class="flex justify-end mb-3">
                        <a href="#" class="block min-w-[150px] ms-2 text-white bg-[#F25F0D] hover:bg-[#db560b] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-auto px-5 py-2.5 text-center">Edit</a>
                        <span class="ms-2 py-3 px-3 bg-[#d9d9d9] rounded-lg text-[#111928] text-[17px] font-semibold leading-[17px]">Academic 1 
                            <a href="#"><i class="fa fa-times text-[20px] text-[#000] ps-2 hover:text-[#FF0000]"></i></a>
                        </span>
                    </div>
                    <div class="grid gap-3 mb-6 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1">
                        <div>
                            <label for="level_education" class="block mb-1 text-md font-semibold text-gray-600">Level of Education<span class="text-[#FF0000]">*</span></label>
                            <select id="level_education" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5" disabled>
                                <option selected>Bachelor/Honors</option>
                                <option value="US">BSc/Engineer</option>
                                <option value="CA">MSc/Masters</option>
                                <option value="FR">LLB/Law</option>
                                <option value="DE">Other</option>
                            </select>
                        </div>
                        <div>
                            <label for="degree_title" class="block mb-1 text-md font-semibold text-gray-600">Exam / Degree Title<span class="text-[#FF0000]">*</span></label>
                            <input type="text" id="degree_title" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="Type here" required disabled>
                        </div>
                        <div>
                            <label for="major" class="block mb-1 text-md font-semibold text-gray-600">Concentration / Major / Group<span class="text-[#FF0000]">*</span></label>
                            <input type="text" id="major" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="Type here" required disabled>
                        </div>
                        <div>
                            <label for="institute" class="block mb-1 text-md font-semibold text-gray-600">Institute Name<span class="text-[#FF0000]">*</span></label>
                            <input type="text" id="institute" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="Type here" required disabled>
                        </div>
                        <div>
                            <div class="grid gap-3 grid-cols-2">
                                <div>
                                    <label for="board" class="block mb-1 text-md font-semibold text-gray-600">Board</label>
                                    <input type="text" id="board" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="Type here" required disabled>
                                </div>
                                <div>
                                    <label for="result" class="block mb-1 text-md font-semibold text-gray-600">Result</label>
                                    <select id="result" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5" disabled>
                                        <option selected>Grade</option>
                                        <option value="US">Divission</option>
                                        <option value="CA">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="grid gap-3 grid-cols-2">
                                <div>
                                    <label for="cgpa" class="block mb-1 text-md font-semibold text-gray-600">CGPA / Marks</label>
                                    <input type="text" id="cgpa" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="0.00" required disabled>
                                </div>
                                <div>
                                    <label for="scale" class="block mb-1 text-md font-semibold text-gray-600">Scale / Total Marks</label>
                                    <input type="text" id="scale" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="0.00" required disabled>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="grid gap-3 grid-cols-2">
                                <div>
                                    <label for="passing_year" class="block mb-1 text-md font-semibold text-gray-600">Year of Passing</label>
                                    <select id="passing_year" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5" disabled>
                                        <option selected>2020</option>
                                        <option value="US">2019</option>
                                        <option value="CA">2018</option>
                                        <option value="CA">2017</option>
                                        <option value="CA">2016</option>
                                        <option value="CA">2015</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="duration" class="block mb-1 text-md font-semibold text-gray-600">Duration(Years)<span class="text-[#FF0000]">*</span></label>
                                    <input type="text" id="duration" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="Type here" required disabled>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="achievement" class="block mb-1 text-md font-semibold text-gray-600">Achievement</label>
                            <input type="text" id="achievement" class="bg-gray-100 border-0 text-gray-900 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-600" placeholder="Type here" required disabled>
                        </div>
                    </div>
                    <div class="sm:flex justify-end block w-full sm:px-0 px-5 mb-4 sm:space-y-0 space-y-2">
                        <button type="button" class="block min-w-[250px] text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
                    </div>
                </div>

                <div class="grid gap-3 mb-6 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1">
                    <div>
                        <label for="level_education" class="block mb-1 text-md font-semibold text-gray-600">Level of Education<span class="text-[#FF0000]">*</span></label>
                        <select id="level_education" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option selected>Bachelor/Honors</option>
                            <option value="US">BSc/Engineer</option>
                            <option value="CA">MSc/Masters</option>
                            <option value="FR">LLB/Law</option>
                            <option value="DE">Other</option>
                        </select>
                    </div>
                    <div>
                        <label for="degree_title" class="block mb-1 text-md font-semibold text-gray-600">Exam / Degree Title<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="degree_title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div>
                        <label for="major" class="block mb-1 text-md font-semibold text-gray-600">Concentration / Major / Group<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="major" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div>
                        <label for="institute" class="block mb-1 text-md font-semibold text-gray-600">Institute Name<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="institute" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div>
                        <div class="grid gap-3 grid-cols-2">
                            <div>
                                <label for="board" class="block mb-1 text-md font-semibold text-gray-600">Board</label>
                                <input type="text" id="board" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                            </div>
                            <div>
                                <label for="result" class="block mb-1 text-md font-semibold text-gray-600">Result</label>
                                <select id="result" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    <option selected>Grade</option>
                                    <option value="US">Divission</option>
                                    <option value="CA">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid gap-3 grid-cols-2">
                            <div>
                                <label for="cgpa" class="block mb-1 text-md font-semibold text-gray-600">CGPA / Marks</label>
                                <input type="text" id="cgpa" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="0.00" required>
                            </div>
                            <div>
                                <label for="scale" class="block mb-1 text-md font-semibold text-gray-600">Scale / Total Marks</label>
                                <input type="text" id="scale" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="0.00" required>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid gap-3 grid-cols-2">
                            <div>
                                <label for="passing_year" class="block mb-1 text-md font-semibold text-gray-600">Year of Passing</label>
                                <select id="passing_year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    <option selected>2020</option>
                                    <option value="US">2019</option>
                                    <option value="CA">2018</option>
                                    <option value="CA">2017</option>
                                    <option value="CA">2016</option>
                                    <option value="CA">2015</option>
                                </select>
                            </div>
                            <div>
                                <label for="duration" class="block mb-1 text-md font-semibold text-gray-600">Duration(Years)<span class="text-[#FF0000]">*</span></label>
                                <input type="text" id="duration" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="achievement" class="block mb-1 text-md font-semibold text-gray-600">Achievement</label>
                        <input type="text" id="achievement" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                </div>
            </div>
            <div class="sm:flex justify-end block w-full sm:space-y-0 space-y-2">
                <button type="button" class="block min-w-[250px] text-white bg-[#F25F0D] hover:bg-[#db560b] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Add Education (If Required)</button>
                <button type="button" class="block min-w-[250px] sm:ms-2 ms-0 text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
            </div>
        </div>

        <div class="mb-4">
            <div class="my-3">
                <div class="relative flex items-center">
                    <h3 class="w-full py-1 mb-3 text-[23px] font-bold text-[#111928] border-b-2 border-[#d9d9d9]">Training Summary</h3>
                </div>
                <div class="grid gap-3 mb-6 md:grid-cols-4 grid-cols-2">
                    <div class="md:col-span-2 col-span-2">
                        <label for="training_title" class="block mb-1 text-md font-semibold text-gray-600">Training Title <span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="training_title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div> 
                    <div class="md:col-span-1 col-span-2">   
                        <label for="country" class="block mb-1 text-md font-semibold text-gray-600">Country<span class="text-[#FF0000]">*</span></label>
                        <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option selected>Bangladesh</option>
                            <option>Caina</option>
                            <option>Russia</option>
                            <option>United States</option>
                            <option>United Kingdom</option>
                            <option>Germany</option>
                        </select>
                    </div>
                    <div class="md:col-span-1 col-span-2">
                        <label for="training_year" class="block mb-1 text-md font-semibold text-gray-600">Training year</label>
                        <select id="training_year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option selected>2020</option>
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                            <option>2016</option>
                            <option>2015</option>
                        </select>
                    </div>
                    <div class="2xl:col-span-1 col-span-2">
                        <label for="topics_covered" class="block mb-1 text-md font-semibold text-gray-600">Topics Covered</label>
                        <input type="text" id="topics_covered" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div class="2xl:col-span-1 col-span-2">
                        <label for="institute" class="block mb-1 text-md font-semibold text-gray-600">Institute<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="institute" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div class="2xl:col-span-1 col-span-2">
                        <label for="location" class="block mb-1 text-md font-semibold text-gray-600">Location<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div class="2xl:col-span-1 col-span-2">
                        <label for="duration" class="block mb-1 text-md font-semibold text-gray-600">Duration<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                </div>
            </div>
            <div class="sm:flex justify-end block w-full sm:space-y-0 space-y-2">
                <button type="button" class="block min-w-[250px] text-white bg-[#F25F0D] hover:bg-[#db560b] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Add Training (If Required)</button>
                <button type="button" class="block min-w-[250px] sm:ms-2 ms-0 text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
            </div>
        </div>

        <div class="mb-4">
            <div class="my-3">
                <div class="relative flex items-center">
                    <h3 class="w-full py-1 mb-3 text-[23px] font-bold text-[#111928] border-b-2 border-[#d9d9d9]">Professional Certification</h3>
                </div>
                <div class="grid gap-3 mb-6 md:grid-cols-2 grid-cols-1">
                    <div>
                        <label for="certification" class="block mb-1 text-md font-semibold text-gray-600">Certification<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="certification" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div> 
                    <div>   
                        <label for="institute" class="block mb-1 text-md font-semibold text-gray-600">Institute<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="institute" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div>
                        <label for="location" class="block mb-1 text-md font-semibold text-gray-600">Location<span class="text-[#FF0000]">*</span></label>
                        <input type="text" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Type here" required>
                    </div>
                    <div>
                        <label for="duration" class="block mb-1 text-md font-semibold text-gray-600">Duration<span class="text-[#FF0000]">*</span></label>
                        <div date-rangepicker="" datepicker-orientation="bottom left" class="flex items-center">
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"></path>
                                    </svg>
                                </div>
                                <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 datepicker-input" placeholder="Select date start">
                            </div>
                            <span class="mx-4 text-gray-500">to</span>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"></path>
                                    </svg>
                                </div>
                                <input name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 datepicker-input" placeholder="Select date end">
                            </div>
                        </div>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/datepicker.min.js"></script>
                    </div>
                </div>
            </div>
            <div class="sm:flex justify-end block w-full sm:space-y-0 space-y-2 mb-10">
                <button type="button" class="block min-w-[250px] text-white bg-[#F25F0D] hover:bg-[#db560b] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Add Certificate (If Required)</button>
                <button type="button" class="block min-w-[250px] sm:ms-2 ms-0 text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
            </div>
            <div class="sm:flex justify-end block w-full sm:space-y-0 space-y-2">
                <a href="employment.html" class="block min-w-[250px] text-white bg-[#005DB9] hover:bg-[#004992] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center"> 
                    Next<i class="fa fa-circle-chevron-right ms-3"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<footer class="bg-gray-100 relative">
    <div class="absolute inset-x-0 top-0 h-20 bg-gradient-to-b from-white"></div>
    <div class="max-w-screen-xl py-2 mx-auto lg:py-20 md:p-8 lg:p-10">
    </div>
</footer>

<!-- Upload Modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-[520px] max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between py-2 px-4 border-b rounded-t">
                <h3 class="text-[20px] font-bold text-[#222]">
                    Upload Resume
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-3">
                <div class="flex items-center justify-center w-full">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed border-[#00ACF5]/60 rounded-lg bg-[#00ACF5]/10 hover:opacity-75 cursor-pointer">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <img src="../images/icons/upload.svg" alt="icon">
                            <p class="mt-3 mb-2 text-[16px] text-[#222] font-semibold">Drag & Drop Files or <span class="text-[#22A801] underline">Browse</span></p>
                            <p class="text-[12px] text-[#777] font-semibold">Supported formats : Word & PDF</p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden"/>
                    </label>
                </div> 
                <button type="button" class="w-full text-white bg-[#F25F0D] hover:bg-[#db560b] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">Upload Resume</button>
            </div>
        </div>
    </div>
</div>


<!-- Change Password Modal -->
<div id="changepassModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-[520px] max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between py-2 px-4 border-b rounded-t">
                <h3 class="text-[20px] font-bold text-[#222]">
                    Change Password
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" data-modal-hide="changepassModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-3">
                <div class="flex flex-col items-center justify-center pb-3 gap-3">
                    <img src="../images/icons/key.svg" alt="icon">
                    <div class="w-full">
                        <label for="current_pass" class="block mb-1 text-md font-semibold text-gray-600">Current Password<span class="text-[#FF0000]">*</span></label>
                        <input type="password" id="current_pass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 focus" placeholder="Current Password" required="">
                    </div>
                    <div class="w-full">
                        <label for="new_pass" class="block mb-1 text-md font-semibold text-gray-600">New Password<span class="text-[#FF0000]">*</span></label>
                        <input type="password" id="new_pass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 focus" placeholder="New Password" required="">
                    </div>
                    <div class="w-full">
                        <label for="retype_pass" class="block mb-1 text-md font-semibold text-gray-600">Retype Password<span class="text-[#FF0000]">*</span></label>
                        <input type="password" id="retype_pass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 focus" placeholder="Retype Password" required="">
                    </div>
                </div>
                <div class="flex gap-3 justify-center">
                    <button type="button" data-modal-hide="changepassModal" class="text-white bg-gray-400 hover:bg-gray-500 focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">Cancel</button>
                    <button type="button" data-modal-hide="changepassModal" data-modal-target="successModal" data-modal-toggle="successModal" class="text-white bg-[#F25F0D] hover:bg-[#db560b] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Success Modal -->
<div id="successModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(70%-1rem)] max-h-full">
    <div class="relative w-full max-w-[520px] max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <div class="py-6 px-4 space-y-3">
                <div class="flex flex-col items-center justify-center pb-2">
                    <img src="../images/icons/check-circle.svg" alt="icon">
                    <p class="text-[27px] text-gray-600 font-semibold">Success!</p>
                    <p class="text-[15px] text-gray-500 font-semibold text-center">Your operation has been done successfully!</p>
                </div>
                <div class="flex gap-3 justify-center">
                    <button type="button" data-modal-hide="successModal" class="text-white bg-[#F25F0D] hover:bg-[#db560b] focus:ring-2 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../js/flowbite.min.js"></script>
</body>
</html>